export(confusionMetrics)

export(kappa_cohen)
export(kappa_fleiss)

export(SIR)

export(MR)
export(IR)
export(SMR)

export(standardizedDifference)

importFrom(epiR, epi.conf)
importFrom(epitools, riskratio.wald)


