export(confusionMetrics)

export(cohenKappa)
export(fleissKappa)
export(yuleQ)

export(SIR)

export(MR)
export(IR)
export(SMR)

export(standardizedDifference)
export(morbidity)
export(comorbidity)
export(CoC)
export(adherence)

importFrom(epiR, epi.conf)
importFrom(epitools, riskratio.wald)


